body{
    margin: 0 10% 0 10%;
    padding-top: 100px;
    background-color: #ff8c00;
    color: white;
}

header{
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    position: fixed;
    background-color: lightskyblue;
}

.nav-items{
    display: inline;
}
.buttons{
    padding-top: 3rem;
    padding-right: 5%;
    padding-left: 5%;
    text-decoration: none;
    color: aliceblue;
} 

a:hover{
    color: deeppink;
}

.home{
    float: left;
}
.right{
    float: right;
}

h1, h2, h3{
    text-align: center;
}

p{
    font-size: 1rem;
    text-align: left;
}

@media (max-width: 302px){
    .right{
        display: none;
    }
}

@media (min-width: 451px){
    body{
        padding-top: 100px;
    }
    header{
        height: 100px;
        font-size: 1.5rem;
    }
}

@media (min-width: 600px){
    body{
        padding-top: 100px;
    }
    header{
        height: 100px;
        /* font-size: 2.5rem; */
    }
}

@media (min-width: 780px){
    body{
        padding-top: 60px;
    }
    header{
        height: 100px;
        font-size: 2.5rem;
    }
}

@media (min-width: 800px){
    h1{
        font-size: 4rem;
    }
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 2rem;
    }
}