html{
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
}



body{
    margin: 0 10% 0 10%;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWjtWbSOmuUrOQu5eW3K_XabO6IPrQQ_ms68XAnEOwv0st4p5lJqBWPKNI3Sf4PD7pl2iS4Hx9&usqp=CAc); */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE8Nb0RENYyznJTt1eDAmLk3zhvPPrTZ_I9Q4xA1nTAX9sw7wTuGcvzgokk5AcrQpeRouqFW4&usqp=CAc); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-color: #ff8c00;
    /* background-color: blue; */
}

h1, h2, h3, h4{
    text-align: center;
}

p{
    font-size: 1.5rem;
}

.header-img{
    width: 200px;
    height: 200px;
    padding-left: 1rem;
}

#img-box{
    text-align: center;
}

#header-filler-1{
    display: none;
}

#header-filler-2{
    display: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: deeppink;
}

#header-words > h1{
    font-size: 80px;
    margin: 0;
}

#header-words > h2{
    font-size: 50px;
    margin: 0;
}

#header-words > h3{
    font-size: 20px;
    margin: 0;
}

.section-header{
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}

.left{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    /* position: relative;
    left: 10%; */
    font-size: 30px;
}

.right{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    /* position: relative;
    right: 10%; */
    font-size: 30px;
}

.part{
    border-top: 3px;
    border-top-style:solid;
    border-top-color: brown;
}

.intro > img{
    height: 200px;
    width: 200px;
}

ul{
    margin: 1rem -10px 1rem -10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

li{
    width: 100%;
    display: block;
    text-align: center;
}

li > img{
    width: 250px;
    height: 250px;

}

iframe{
    padding-bottom: 10%;
    padding-right: 5%;
    width: 250px;
    /* height: 250px; */
}

.history > li{
    display: block;
}
.intro-text{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

li > p{
    font-size: 1.2rem;
}

@media (min-width: 640px){
    .intro-text{
        /* width: 100%; */
        text-align: left;
        flex-wrap: nowrap;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        column-count: 2;
    }

    header{
        /* column-count: 2;
        font-size: 1.5rem; */
        width: 100%;
        height: 11.5rem;
    }

    #header-words{
        float: left;
    }

    #header-words > h1{
        font-size: 4rem;
        margin: 0;
        text-align: left;
    }
    
    #header-words > h2{
        font-size: 2rem;
        margin: 0;
        text-align: left;
    }
    
    #header-words > h3{
        font-size: 1rem;
        margin: 0;
        text-align: left;
    }

    .header-img{
        padding-top: 1rem;
        width: 10rem;
        height: 10rem;
        float: right;
    }

    #img-box{
        text-align: center;
        height: 100%;
    }

    .right-col{
        margin-left: 3rem;
    }
    li{
        width: 25%;
        text-align: center;
        /* font-size: 0.8rem; */
        margin-bottom: 1rem;
    }
    li > p{
        font-size: 0.65rem;
    }

    li > img{
        width: 7rem; 
        height: 7rem;
        /* width: 150px;
        height: 150px; */
    }

    .style-list > li{
        width: 50%;
        text-align: left;
    }

    .style-list > div{
        margin: 10px;
    }
    

    .spotify > li{
        width: 50%;   
    }

}

@media (min-width: 875px){
    #header-filler-1{
        display: initial;
    }
    li > p{
        font-size: 0.8rem;
    }

    li > img{
        width: 10rem; 
        height: 10rem;
    }
}

@media (min-width: 1100px){
    #header-filler-2{
        display: initial;
    }
    li > p{
        font-size: 1rem;
    }

    li > img{
        width: 12rem; 
        height: 12rem;
    }
}

.style > ul {
    margin: 0;
}
.style-list > h5{
    font-size: 2rem;
    margin: 0;
}

.members{
    text-align: center;
}

.studio{
    margin: 0;
    margin-bottom: 5%;
    font-size: 70px;
    font-variant: small-caps;
}

.live{
    margin: 0;
    margin-bottom: 5%;
    font-size: 40px;
    font-variant: small-caps;
}

.former{
    margin: 0;
    margin-bottom: 5%;
    font-size: 20px;
    font-variant: small-caps;
}

footer > p{
    font-size: .75rem;
}