


@media (min-width: 640px){
    .intro-text{
        /* width: 100%; */
        text-align: center;
        flex-wrap: nowrap;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    li{
        width: 50%;
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    li > img{
        width: 80%;
        /* height: 80%; */
    }
}