html{
    font-family: 'Archivo Narrow', sans-serif;
    color: aliceblue;
}

body{
    margin: 0 10% 0 10%;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWjtWbSOmuUrOQu5eW3K_XabO6IPrQQ_ms68XAnEOwv0st4p5lJqBWPKNI3Sf4PD7pl2iS4Hx9&usqp=CAc); */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE8Nb0RENYyznJTt1eDAmLk3zhvPPrTZ_I9Q4xA1nTAX9sw7wTuGcvzgokk5AcrQpeRouqFW4&usqp=CAc); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-color: orange;
    /* background-color: blue; */
}

h1, h2, h3, h4{
    text-align: center;
}

/* Fix teh font size? */
p{
    font-size: 1rem;
}
/* header{
    margin-top: 15%;
    margin-bottom: 0;
} */

header > h1{
    font-size: 80px;
    margin: 0;
}

header > h2{
    font-size: 50px;
    margin: 0;
}

header > h3{
    font-size: 20px;
    margin: 0;
}

.section-header{
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}

.left{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    /* position: relative;
    left: 10%; */
    font-size: 30px;
}

.right{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    /* position: relative;
    right: 10%; */
    font-size: 30px;
}

.part{
    border-top: 3px;
    border-top-style:solid;
    border-top-color: brown;
}

.intro > img{
    height: 250px;
    width: 250px;
}

ul{
    margin: 1rem -10px 1rem -10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

li{
    width: 100%;
    display: block;
    text-align: center;
}

li > img{
    width: 250px;
    height: 250px;

}

iframe{
    padding-bottom: 10%;
    padding-right: 5%;
    width: 250px;
    /* height: 250px; */
}

.history > li{
    display: block;
}
.intro-text{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media (min-width: 640px){
    .intro-text{
        /* width: 100%; */
        text-align: center;
        flex-wrap: nowrap;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    li{
        width: 50%;
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    li > img{
        width: 80%;
        /* height: 80%; */
    }
}
.style > ul {
    margin: 0;
}
li > h5{
    font-size: 1.5rem;
    margin: 0;
    /* color: blue; */
}

.members{
    text-align: center;
}

.studio{
    margin: 0;
    margin-bottom: 5%;
    font-size: 70px;
    font-variant: small-caps;
}

.live{
    margin: 0;
    margin-bottom: 5%;
    font-size: 40px;
    font-variant: small-caps;
}

.former{
    margin: 0;
    margin-bottom: 5%;
    font-size: 20px;
    font-variant: small-caps;
}

/* 
.nav-bar{
    width: 100%;
    position: fixed;
    background-color: aquamarine;
    height: 20%;
}

#home-button{
    float: left;
}

#home-button{
    font-size: 250%;
    padding: 20% 20% 0 20%;
    margin: auto;
}

.fa-guitar{
    font-size: 250%;
}

.buttons{
    float: right;
    padding: 20%;
} */