html{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
}

.safe-area{
    width: 960px;
    padding-top: 48px;
    margin: auto;
    padding-bottom: 48px;
}

h1{
    line-height: 1;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}


p{
    margin: 15px 0;
}

header.panel .safe-area{
    text-align: center;
    padding-top: 166px;
    padding-right: 0;
    padding-bottom: 188px;
    padding-left: 0;
    /* margin: auto; */
}

header.panel h1{
    margin: 0;
}
header.panel h2{
    font-size: 30px;
    margin: 16px 0 0 0;
}

header.panel .subheading{
    font-size: 30px;
    margin-top: 16px;
    /* margin: 0; */
    font-weight: bold;
}

.safe-area h2{
    line-height: 1;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}

.feature img{
    width: 400px;
    height: 300px;
    float: right;
    margin: 0 0 36px 36px;
}

.gallery ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

.gallery li{
    display: flex;
    margin-bottom: 24px;
}

.gallery img{
    width: 200px;
    height: 150px;
}
.text-on-right{
    margin-left: 12px;
    margin-right: 24px;
    width: 50%;
    float: right;
}

.gallery h3{
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.feature .safe-area{
    margin-bottom: -7px;
}

.gallery .safe-area{
    margin-bottom: -10px;
}

.conclusion p{
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    padding-left: 16%;
    padding-right: 11%;
    line-height: 36px;
}

.panel{
    background-color: #00ffff;
}
.feature{
    background-color: orange;
}

.gallery{
    background-color: peachpuff;
}

.conclusion{
    background-color: pink;
}
