.a{
    background-image: url(desktop-wireframe.png);
    background-repeat: no-repeat;
    height: 3000px;
    width: 100%;
    background-size: cover;
    margin-right: 5px;
}

.filler{
    height: 10px;
    padding-bottom: 10px;
}

.b{
    /* padding-top: 3000px; */
    background-image: url(mobile-wireframe.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */
    /* margin-right: 30px; */
    height: 950px;
    /* width: 1000px; */
    /* width: 6000px; */
}